.contact-us div.wpforms-container-full .wpforms-form input[type=text],
.big-title-widget div.wpforms-container-full .wpforms-form input[type=text],
.contact-us div.wpforms-container-full .wpforms-form input[type=email],
.big-title-widget div.wpforms-container-full .wpforms-form input[type=email],
.contact-us div.wpforms-container-full .wpforms-form textarea,
.big-title-widget div.wpforms-container-full .wpforms-form textarea {
    border-radius: 4px;
    padding: 9px 9px 9px 15px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.95);
}

.contact-us div.wpforms-container-full .wpforms-form .wpforms-submit-container,
.big-title-widget div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    text-align: right;
}

.contact-us div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-submit,
.big-title-widget div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-submit {
    background-color: #e96656;
    border-width: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
}

.contact-us div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-submit:hover,
.big-title-widget div.wpforms-container-full .wpforms-form .wpforms-submit-container .wpforms-submit:hover {
    background-color: #cb4332;
    border-width: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
}

.contact-us .wpforms-field-label,
.big-title-widget .wpforms-field-label,
.contact-us .wpforms-field-description,
.big-title-widget .wpforms-field-description,
.contact-us .wpforms-field-sublabel,
.big-title-widget .wpforms-field-sublabel,
.contact-us .wpforms-field-checkbox,
.big-title-widget .wpforms-field-checkbox,
.contact-us .wpforms-field-radio,
.big-title-widget .wpforms-field-radio,
.contact-us .wpforms-image-choices-none label,
.big-title-widget .wpforms-image-choices-none label {
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
}

.contact-us .wpforms-field-checkbox .wpforms-image-choices,
.big-title-widget .wpforms-field-checkbox .wpforms-image-choices,
.contact-us .wpforms-field-radio .wpforms-image-choices,
.big-title-widget .wpforms-field-radio .wpforms-image-choices{
    color: #404040;
}

.contact-us div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-classic .wpforms-selected label,
.big-title-widget div.wpforms-container-full .wpforms-form ul.wpforms-image-choices-classic .wpforms-selected label {
    border-color: #e96656;
}

.contact-us div.wpforms-container-full .wpforms-form label.wpforms-error,
.big-title-widget div.wpforms-container-full .wpforms-form label.wpforms-error{
    font-weight: bold;
    color: red;
    font-size: 14px
}
/*
     FILE ARCHIVED ON 10:28:01 May 04, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:55:47 Feb 21, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.618
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 9.934
  LoadShardBlock: 164.702 (3)
  PetaboxLoader3.datanode: 205.42 (4)
  PetaboxLoader3.resolve: 128.188 (2)
  load_resource: 193.483
*/